################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Solidity.Contracts/bin/Debug/netstandard1.6
